.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: var(--spacing-4-6);
     -moz-column-gap: var(--spacing-4-6);
          column-gap: var(--spacing-4-6);
}
.icon__phone, .icon__menu, .icon__close {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon__phone, .icon__menu {
  height: 24px;
  width: 24px;
}
.icon__close {
  height: 24px;
  width: 24px;
}
.icon__phone {
  background-image: url(../images/icons/icon-phone.svg);
}
.icon__menu {
  background-image: url(../images/icons/icon-burger.svg);
}
.icon__close {
  background-image: url(../images/icons/icon-close.svg);
}