.main__container {
  max-width: 320px;
  margin: 0 auto;
  padding: var(--spacing-5-20) var(--spacing-4-5);
  @inc;
}
.main__about-us, .main__now-view, .main__testimonials {
  margin-bottom: var(--spacing-5-20);
}
.main__about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: var(--spacing-4-8);
}
.main__label {
  display: block;
  font-weight: var(--fw-7);
  color: var(--color-red-500);
  line-height: 27px;
}
.main__label--fs-extra-small {
  font-size: var(--fs-extra-small);
  line-height: 1.4;
  margin-bottom: var(--spacing-2-1);
}
.main__title {
  font-weight: var(--fw-7);
  font-size: var(--fs-extra-large);
  line-height: 1;
  letter-spacing: -1.5px;
}
.main__title--mb-small {
  margin-bottom: var(--spacing-4-2);
}
.main__title--center {
  text-align: center;
}
.main__article:not(:last-child) {
  margin-bottom: var(--spacing-4-6);
}
.main__subtitle {
  margin-bottom: var(--spacing-4-4);
  font-weight: var(--fw-7);
  font-size: var(--fs-large);
  line-height: 30px;
}
.main__schedule {
  display: inline-grid;
  grid-template-columns: repeat(2, fit-content(100%));
  gap: var(--spacing-4-2) var(--spacing-5-5);
  margin-bottom: var(--spacing-4-4);
}
.main__time {
  font-weight: var(--fw-7);
  line-height: 27px;
}
.main__days {
  line-height: 27px;
}
.main__text {
  line-height: 27px;
  margin-bottom: var(--spacing-4-12);
}
.main__text--center {
  text-align: center;
}
.main__text:last-child {
  margin-bottom: var(--spacing-5-8);
}
.main__images {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  -webkit-column-gap: var(--spacing-4-5);
     -moz-column-gap: var(--spacing-4-5);
          column-gap: var(--spacing-4-5);
  margin-bottom: var(--spacing-4-6);
}
.main__images--grid-columns {
  grid-template-columns: repeat(3, 88px);
  -webkit-column-gap: var(--spacing-4-2);
     -moz-column-gap: var(--spacing-4-2);
          column-gap: var(--spacing-4-2);
}
.main__img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__img--position-left {
  -o-object-position: 15%;
     object-position: 15%;
}
.main__img--position-right {
  -o-object-position: right;
     object-position: right;
}