$button-height: 56px;
$width-ontablet: 392px;
$width-ondesktop: 324px;

.button {
  width: 100%;
  font-weight: var(--fw-7);
  line-height: 27px;
  color: var(--color-white);
  background-color: var(--color-red-500);
  display: flex;
  justify-content: center;
  align-items: center;
  height: $button-height;
  margin: 0 auto;
  transition: background-color 0.3s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-red-700);
    }
  }

  &:active {
    background-color: var(--color-red-300);
  }

  @media (hover: none) and (pointer: coarse) {
    &:active {
      background-color: var(--color-red-700);
    }
  }

  @include on-tablet {
    max-width: $width-ontablet;
  }

  @include on-desktop {
    max-width: $width-ondesktop;
  }
}
