.page:has(.page__menu:target) {
  overflow: hidden;
}

.main {
  padding-block: var(--spacing-5-20);
  background-color: var(--color-white);

  @include on-tablet {
    padding: var(--spacing-5-28) 0 var(--spacing-4-39);
  }

  @include on-desktop {
    padding: var(--spacing-2-69) 0 var(--spacing-2-67);
  }

  &__container {
    max-width: 280px;
    margin: 0 auto;

    &--flex {
      display: flex;
      flex-direction: column;
      column-gap: var(--spacing-4-8);
      justify-content: space-between;
    }

    @include on-tablet {
      max-width: 600px;

      &--flex {
        flex-direction: row;
        row-gap: 24px;
      }
    }

    &--width-ontablet {
      @include on-tablet {
        max-width: 392px;
      }
    }

    @include on-desktop {
      max-width: 1020px;
    }
  }

  &__about-us,
  &__now-view,
  &__testimonials {
    margin-bottom: var(--spacing-5-20);

    @include on-tablet {
      margin-bottom: var(--spacing-5-28);
    }
  }

  &__section-top {
    margin-bottom: var(--spacing-4-8);

    @include on-tablet {
      flex-basis: 288px;
    }

    @include on-desktop {
      flex-basis: 411px;
    }
  }

  &__section-bottom {
    @include on-tablet {
      flex-basis: 288px;
    }

    @include on-desktop {
      flex-basis: 516px;
    }
  }

  &__label {
    display: block;
    font-weight: var(--fw-7);
    color: var(--color-red-500);
    line-height: 27px;

    &--fs-extra-small {
      font-size: var(--fs-extra-small);
      line-height: 1.4;
      margin-bottom: var(--spacing-2-1);
    }

    &--center {
      text-align: center;
      font-size: var(--fs-large);
      line-height: 1.4;
      margin-bottom: var(--spacing-4-1);
    }
  }

  &__title {
    font-weight: var(--fw-7);
    font-size: var(--fs-extra-large);
    line-height: 1;
    letter-spacing: -1.5px;

    &--mb-small {
      margin-bottom: var(--spacing-4-2);
    }

    &--mb-large {
      margin-bottom: var(--spacing-5-8);
    }

    &--mb-huge {
      margin-bottom: var(--spacing-4-12);
    }

    &--extra-huge {
      margin-bottom: var(--spacing-4-12);
    }

    &--center {
      text-align: center;
    }

    &--mb-huge-ontablet {
      @include on-tablet {
        margin-bottom: var(--spacing-4-12);
      }
    }

    @include on-tablet {
      font-size: var(--fs-massive);
    }
  }

  &__article:not(:last-child) {
    margin-bottom: var(--spacing-4-6);
  }

  &__subtitle {
    margin-bottom: var(--spacing-4-4);
    font-weight: var(--fw-7);
    font-size: var(--fs-large);
    line-height: 30px;
  }

  &__schedule {
    display: inline-grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: var(--spacing-4-2) var(--spacing-5-5);
    margin-bottom: var(--spacing-4-4);
  }

  &__time {
    font-weight: var(--fw-7);
    line-height: 27px;
  }

  &__days {
    line-height: 27px;
  }

  &__text {
    line-height: 27px;
    margin-bottom: var(--spacing-4-12);

    &--center {
      text-align: center;

      @include on-tablet {
        max-width: 392px;
        margin-inline: auto;
      }
    }

    &--mb-large {
      margin-bottom: var(--spacing-5-8);
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    column-gap: var(--spacing-4-5);
    margin-bottom: var(--spacing-4-6);

    @include on-tablet {
      grid-template-columns: repeat(3, 186px);
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 324px);
      grid-template-rows: 320px;
      justify-content: center;
    }

    &--grid-another {
      grid-template-columns: repeat(3, 88px);
      column-gap: var(--spacing-4-2);

      @include on-tablet {
        grid-template-columns: repeat(2, 288px);
        column-gap: var(--spacing-4-6);
      }

      @include on-desktop {
        grid-template-columns: repeat(3, 324px);
      }
    }
  }

  &__wrapper-img {
    overflow: hidden;

    &--span-left {
      overflow: hidden;

      @include on-tablet {
        aspect-ratio: 392 / 186;
        grid-column: span 2;
        object-position: center;
      }
    }

    &--span-right {
      overflow: hidden;

      @include on-tablet {
        aspect-ratio: 392 / 186;
        grid-column: span 2;
        object-position: center;
      }
    }

    &--mb-onmobile {
      margin-bottom: var(--spacing-4-6);
    }

    &--mb-ontablet {
      @include on-tablet {
        margin-bottom: var(--spacing-4-8);
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }

    &--position-left {
      object-position: 15%;
    }

    &--position-right {
      object-position: right;
    }

    &--display-none {
      @include on-tablet {
        display: none;
      }

      @include on-desktop {
        display: block;
      }
    }
  }

  &__flex-testimonials {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4-12);

    @include on-desktop {
      flex-direction: row;
      column-gap: var(--spacing-4-6);
    }
  }

  &__block-testimonials {
    @include on-desktop {
      flex-basis: 324px;
    }
  }

  &__image-testimonials {
    display: block;
    width: 100%;
    aspect-ratio: 280 / 277;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }

    @include on-tablet {
      aspect-ratio: 392 / 387;
    }

    @include on-desktop {
      aspect-ratio: 324 / 320;
    }
  }

  &__text-testimonials {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 27px;
    text-align: center;
  }

  &__flex-container {
    @include on-tablet {
      display: flex;
      column-gap: var(--spacing-5-15);
      justify-content: space-between;
    }
  }

  &__form-block {
    @include on-tablet {
      flex-basis: 288px;
    }

    @include on-desktop {
      flex-basis: 411px;
    }
  }

  &__form {
    input,
    textarea {
      width: 100%;
      background-color: var(--color-grey-100);
      padding: var(--spacing-2-7) var(--spacing-1-11);
      border: 1px solid transparent;
      transition: border-color 0.3s ease;
      font-family: Cinzel, Arial, Helvetica, sans-serif;
      font-weight: var(--fw-4);
      font-size: var(--fs-small);
      line-height: 20px;
    }

    input {
      margin-bottom: var(--spacing-4-4);
    }

    textarea {
      height: 144px;
      margin-bottom: var(--spacing-4-8);
      resize: none;
    }

    @media (hover: hover) and (pointer: fine) {
      input:hover,
      textarea:hover {
        border-color: var(--color-grey-300);
      }
    }

    input:focus,
    textarea:focus {
      border-color: var(--color-black);
    }

    input::placeholder,
    textarea::placeholder {
      font-size: var(--fs-small);
      color: var(--color-grey-400);
      transition: color 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      input:hover::placeholder,
      textarea:hover::placeholder {
        color: var(--color-black);
      }
    }

    @media (hover: none) and (pointer: coarse) {
      input:active,
      textarea:active {
        border-color: var(--color-grey-300);
      }

      input:active::placeholder,
      textarea:active::placeholder {
        color: var(--color-black);
      }
    }
  }
}
