.main {
  padding-block: var(--spacing-5-20);

  @include on-tablet {
    padding: var(--spacing-5-28) 0 var(--spacing-4-39);
  }

  @include on-desktop {
    padding: var(--spacing-2-69) 0 var(--spacing-2-67);
  }

  &__container {
    max-width: 280px;
    margin: 0 auto;

    &--flex {
      display: flex;
      flex-direction: column;
      column-gap: var(--spacing-4-8);
    }

    @include on-tablet {
      max-width: 600px;

      &--flex {
        flex-direction: row;
        row-gap: 24px;
      }
    }

    &--width-ontablet {
      @include on-tablet {
        max-width: 392px;
      }
    }

    @include on-desktop {
      max-width: 1020px;
    }
  }

  &__about-us,
  &__now-view,
  &__testimonials {
    margin-bottom: var(--spacing-5-20);

    @include on-tablet {
      margin-bottom: var(--spacing-5-28);
    }
  }

  &__section-top {
    margin-bottom: var(--spacing-4-8);

    @include on-desktop {
      flex-basis: 411px;
    }
  }

  &__section-top,
  &__section-bottom {
    @include on-tablet {
      flex-basis: 288px;
    }
  }

  &__section-bottom {
    @include on-desktop {
      flex-basis: 516px;
    }
  }

  &__label {
    display: block;
    font-weight: var(--fw-7);
    color: var(--color-red-500);
    line-height: 27px;

    &--fs-extra-small {
      font-size: var(--fs-extra-small);
      line-height: 1.4;
      margin-bottom: var(--spacing-2-1);
    }

    &--center {
      text-align: center;
      font-size: var(--fs-large);
      line-height: 1.4;
      margin-bottom: var(--spacing-4-1);
    }
  }

  &__title {
    font-weight: var(--fw-7);
    font-size: var(--fs-extra-large);
    line-height: 1;
    letter-spacing: -1.5px;

    &--mb-small {
      margin-bottom: var(--spacing-4-2);
    }

    &--mb-large {
      margin-bottom: var(--spacing-5-8);
    }

    &--mb-huge {
      margin-bottom: var(--spacing-4-12);
    }

    &--center {
      text-align: center;
    }

    &--mb-huge-ontablet {
      @include on-tablet {
        margin-bottom: var(--spacing-4-12);
      }
    }

    @include on-tablet {
      font-size: var(--fs-massive);
    }
  }

  &__article:not(:last-child) {
    margin-bottom: var(--spacing-4-6);
  }

  &__subtitle {
    margin-bottom: var(--spacing-4-4);
    font-weight: var(--fw-7);
    font-size: var(--fs-large);
    line-height: 30px;
  }

  &__schedule {
    display: inline-grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: var(--spacing-4-2) var(--spacing-5-5);
    margin-bottom: var(--spacing-4-4);
  }

  &__time {
    font-weight: var(--fw-7);
    line-height: 27px;
  }

  &__days {
    line-height: 27px;
  }

  &__text {
    line-height: 27px;
    margin-bottom: var(--spacing-4-12);

    &--center {
      text-align: center;

      @include on-tablet {
        max-width: 392px;
        margin-inline: auto;
      }
    }

    &--mb-large {
      margin-bottom: var(--spacing-5-8);
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    column-gap: var(--spacing-4-5);
    margin-bottom: var(--spacing-4-6);

    @include on-tablet {
      grid-template-columns: repeat(3, 186px);
    }

    &--grid-another {
      grid-template-columns: repeat(3, 88px);
      column-gap: var(--spacing-4-2);

      @include on-tablet {
        grid-template-columns: repeat(2, 288px);
        column-gap: var(--spacing-4-6);
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    &--position-left {
      object-position: 15%;

      @include on-tablet {
        aspect-ratio: 392 / 186;
        grid-column: span 2;
        object-position: center;
      }
    }

    &--position-right {
      object-position: right;

      @include on-tablet {
        aspect-ratio: 392 / 186;
        grid-column: span 2;
        object-position: center;
      }
    }

    &--display-none {
      @include on-tablet {
        display: none;
      }
    }
  }

  &__flex-testimonials {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4-12);
  }

  &__image-testimonials {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 280 / 277;
    object-fit: cover;
    margin-bottom: var(--spacing-4-6);

    @include on-tablet {
      aspect-ratio: 392 / 387;
      margin-bottom: var(--spacing-4-8);
    }
  }

  &__text-testimonials {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 27px;
    text-align: center;
  }
}
