.menu {
  position: fixed;
  inset: 0;
  opacity: 0;
  background-color: var(--color-red-500);
  pointer-events: none;
  overflow: auto;
  z-index: 100;

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4-8);
    padding: var(--spacing-5-3) var(--spacing-4-5);

    @include on-tablet {
      padding-inline: var(--spacing-4-18);
    }

    @include on-desktop {
      padding-inline: var(--spacing-5-24);
      row-gap: var(--spacing-4-12);
    }
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4-8);
  }

  &__link {
    display: inline-block;
    font-weight: var(--fw-7);
    font-size: var(--fs-big);
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-white);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--color-white);
      transform: scale(0);
      transition: transform 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::after {
        transform: scale(1);
      }
    }
  }
}

.phone-numbers {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-4-4);
  font-weight: var(--fw-7);
  color: var(--color-white);
  text-transform: uppercase;
  line-height: 1.68;

  &--pos-absolute {
    position: absolute;
    top: -37px;
    left: -195px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &--mb {
    margin-bottom: var(--spacing-4-12);

    @include on-tablet {
      flex-basis: 237px;
    }

    @include on-desktop {
      flex-basis: 498px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4-2);

    &--gap-big {
      row-gap: var(--spacing-4-12);

      @include on-desktop {
        flex-direction: row;
        column-gap: var(--spacing-4-6);
      }
    }
  }

  &__item {
    &--black {
      color: var(--color-black);

      @include on-desktop {
        flex-basis: 237px;
      }
    }
  }

  &__location {
    display: block;
    &--mb-big {
      margin-bottom: var(--spacing-4-4);
    }
  }

  &__link {
    display: inline-block;
    font-weight: var(--fw-7);
    color: var(--color-white);
    position: relative;

    &--black-mb {
      display: block;
      color: var(--color-black);
      margin-bottom: var(--spacing-4-2);
      transition: color 0.3s ease;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--color-red-500);
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--color-white);
      transform: scale(0);
      transition: transform 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::after {
        transform: scale(1);
      }
    }
  }

  &__link-adress {
    transition: color 0.3s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--color-red-500);
      }
    }
  }

  &__text {
    display: block;
    font-weight: var(--fw-4);
    font-size: var(--fs-small);
    line-height: 27px;
    margin-bottom: var(--spacing-4-1);
  }

  &__call {
    font-size: var(--fs-extra-small);
    line-height: 1.3;
    letter-spacing: 2px;
    color: var(--color-white);
    position: relative;
    align-self: flex-start;
    padding-bottom: var(--spacing-4-2);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--color-white);
      transform: scale(0);
      transition: transform 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::after {
        transform: scale(1);
      }
    }
  }
}
