:root {
  // ---FONTS---
  --fs-extra-small: 12px;
  --fs-small: 14px;
  --fs-base: 16px;
  --fs-big: 22px;
  --fs-large: 24px;
  --fs-extra-large: 32px;
  --fs-huge: 40px;
  --fs-extra-huge: 64px;

  // ---SPACING---
  --spacing-4-2: 8px;
  --spacing-4-4: 16px;
  --spacing-4-5: 20px;
  --spacing-4-6: 24px;
  --spacing-4-8: 32px;
  --spacing-4-18: 72px;
  --spacing-5-3: 15px;
  --spacing-5-5: 25px;
  --spacing-5-10: 50px;
  --spacing-5-11: 55px;

  // ---FONT WEIGHT---
  --fw-4: 400;
  --fw-7: 700;

  // ---COLORS---
  --color-red-500: rgba(209, 45, 53, 1);
  --color-black: rgba(22, 22, 22, 1);
  --color-white: rgba(255, 255, 255, 1);
}
