$logo-width: 64px;
$logo-height: 46px;
$logo-width-on-tablet: 87px;
$logo-height-on-tablet: 65px;

.top-bar {
  padding: var(--spacing-5-5) var(--spacing-4-5);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding: var(--spacing-5-10) var(--spacing-4-18);
  }

  &__logo-img {
    display: block;
    width: $logo-width;
    height: $logo-height;

    @include on-tablet {
      width: $logo-width-on-tablet;
      height: $logo-height-on-tablet;
    }
  }
}
